nav {
    width: 100%;
    height: 70px;
    background-color: rgba(71, 29, 1, 0.944);
    padding-top: 5px;
    box-sizing: border-box;
  }
  ul.menu {
    display: flex;
  }
  li.menu {
    list-style: none;
  }
 a {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
  }

  footer{
    text-align: center;
  }

/* ----------- iPhone 11 Pro ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 200px) 
and (max-device-width: 200px) 
and (-webkit-min-device-pixel-ratio: 3) {
    /* 左寄せ */
    ul{
        padding-left: 0;
    }
    li {
        color: #ffffff;
        background-color: #030006;
      margin:1em; /* 紫領域の外枠の余白を設定 */
      padding:1em;/* 紫領域の内枠の余白を設定 */
    }
}

html {
  font-size: 75%;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}

/* 画像サイズを常にウィンドウ幅に設定 */
img.pic{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}
/* Copyrightをセンタリング */
footer{
    text-align: center;
}

ul.pic{
    display: flex;
    flex-wrap: wrap;
}
li.pic{
    position: relative;
    list-style: none;
    width: 30%;
}
li.pic:before{
    content: "";
    display: block;
    padding-top: 100%;
}

img.work{
    width: 600px;
    height: 320px;
}

